<div class="about-page" ng-controller="AboutCtrl">
  <div class="container content">
    <img src="img/logo.png" width="200px">
    <div class="page-header">
      <h3>{{appName}} - {{appDescription}}</h3>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <p>
          <strong>Version: {{appVersion}}</strong>
        </p>
        <p>{{appCopyright}}</p>
        <p>Website: <a ng-href="{{appHome}}">{{appHome}}</a>.
        <p>
          <strong>Links</strong>
        </p>
        <ul class="unstyled">
          <li ng-if="appHelp"><a ng-href="{{appHelp}}">Documentation</a></li>
          <li><a href="http://www.gnu.org/licenses/agpl.html">License</a></li>
        </ul>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span12">
        <p>
          <strong>Version: {{appSdk}}</strong>
        </p>
        <p>Copyright (c) 2005-{{appYear}} EyC. All Rights Reserved.</p>
        <p>Website: <a ng-href="http://www.eycgrupo.com">http://www.ecygrupo.com</a>.
        <p>
          <strong>Links</strong>
        </p>
      
      </div>
    </div>
    <hr>
    <div class="row-fluid" ng-if="technical">
      <div class="span12">
        <a href="#/system" x-translate>System Information</a>
      </div>
    </div>
    <br>
    <div class="row-fluid">
      <div class="span12">
        <a class="btn btn-default" href="#/" x-translate>Close</a>
      </div>
    </div>
  </div>
 
</div>

